@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@360&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
   font-family: Sans Pro, sans-serif;
   font-weight: 300;
   color: #E5E4E2;
   background-color: #2C2C2B;
}

/* headings and logo */

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #E5E4E2;
    text-decoration: none;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 10px;
}

/* navigation links */

#menu {
    float: right;
    font-size: 130%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: rgb(110, 100, 100);
}

.active {
    border-bottom: 2px solid #E5E4E2;
}

/* home image */

#background-outer {
    height: 710px;
    width: 100%;
    overflow: hidden;
}

#background-image {
    background: url('../images/home-cover.gif') no-repeat center center;
    height: 710px;
    width: 100%;
}

/* Welcome intro message */

#intro-message {
    height: 200px;
}

#center-about {
    width: 50%;
    margin: 0 auto;
}

.center-about-hading {
    text-align: center;
    margin: 35px;
    font-size: 130%;
    line-height: 35px;
    margin-bottom: 5px;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 2%;
    color: #E5E4E2;
}

/* profile content */

.box {
    clear: left;
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 145px;
    color: white;
    font-family: Sans Pro, sans-serif;
    font-size: 120%;
}

.box-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h2 {
    font-size: 50px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h3 {
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box p {
    text-align: center;
    letter-spacing: 1px;
}

/* gallery */

.photos {
    clear: left;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,300px));
    column-gap: 10px;
    row-gap: 10px;
}

.photos > img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    transition: 1s;
}

.photos > img:hover {
    transform: scale(1.3);
    z-index: 2;
}

/* contact form */

.contact-section {
    clear: left;
    background: url('../images/home.jpeg') no-repeat center center; ;
    background-size: cover;
    background-position: center;
    height: 800px;
}

.contact-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgb(43, 37, 37);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.contact-form > h2 {
    color: #E5E4E2;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #E5E4E2;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1.5px solid #E5E4E2;
    border-radius: 3px;
}

.text-input:hover {
    background-color: rgb(104, 92, 92);
}

.button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 110%;
    background-color: #296e01;
    color: #E5E4E2;
    display: block;
}

.button:hover {
    background-color: #E5E4E2;
    color: black;
}

/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */

@media screen and (max-width: 1200px){
    .box {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px){
    .box {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .photo {
        column-count: 4;
    }
}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px){
    .photo {
        column-count: 2;
    }
}