@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@360&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
   font-family: Sans Pro, sans-serif;
   font-weight: 300;
   color: green;
}

/* headings and logo */

h1, h2 {
    font-family: Sans Pro, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: green;
}

#logo {
    float: left;
    font-size: 200%;
}

/* navigation links */

#menu {
    float: right;
    font-size: 130%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid green;
}

.active {
    border-bottom: 1px solid green;
}

/* home image */

#background-outer {
    height: 900px;
    width: 100%;
    overflow: hidden;
}

#background-image {
    background: url('../images/home-cover.gif') no-repeat center center;
    height: 900px;
    width: 100%;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: green;
}

