@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@360&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
   font-family: Sans Pro, sans-serif;
   font-weight: 300;
   color: #E5E4E2;
   background-color: #2C2C2B;
}

/* headings and logo */

h1 {
    font-family: Sans Pro, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #E5E4E2;
}

#logo {
    float: none;
    font-size: 200%;
    margin-left: 10px;
}

/* navigation links */

#menu {
    float: none;
    margin-left: 1430px;
    margin-top: -80px;
    font-size: 130%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #E5E4E2;
}

.active {
    border-bottom: 1px solid #E5E4E2;
}

/* home image */

#background-outer {
    height: 900px;
    width: 100%;
    overflow: hidden;
}

#background-image {
    background: url('../images/home-cover.gif') no-repeat center center;
    height: 900px;
    width: 100%;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #E5E4E2;
}

/* profile content */

.box {
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: Sans Pro, sans-serif;
}

.box-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h2 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h3 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box p {
    text-align: justify;
}
