@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@360&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
   font-family: Sans Pro, sans-serif;
   font-weight: 300;
   color: green;
}

/* headings and logo */

h1, h2 {
    font-family: Sans Pro, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: silver;
}

#logo {
    float: left;
    font-size: 300%;
}

/* navigation links */

#menu {
    float: right;
    font-size: 130%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid green;
}

.active {
    border-bottom: 1px solid green;
}

/* home image */

.background-image {
    background: url('../images/home.jpeg') no-repeat center center;
    height: 950px;
    width: 100%;
}

